<p-toast />
<div class="p-5 space-y-4">
  <h1 class="text-lg font-semibold text-[var(--text-primary)]">Queue</h1>

  <p-tabs [(value)]="activeTab">
    <p-tablist>
      <p-tab value="0">All Families</p-tab>
      <p-tab value="1">Library Queue</p-tab>
      <p-tab value="2">System Types</p-tab>
      <p-tab value="3">Status</p-tab>
    </p-tablist>

    <p-tabpanels>
      <p-tabpanel value="0">
        <app-family-list />
      </p-tabpanel>
      <p-tabpanel value="1">
        <app-draft-list />
      </p-tabpanel>
      <p-tabpanel value="2">
        <app-system-type-list />
      </p-tabpanel>
      <p-tabpanel value="3">
        <app-library-status />
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
